
{% block content %}
<h1 align="center">Список книг</h1>
<p></p>
<p>
    <a href="/baffetologic"  class="btn btn-success btn-lg">Баффетология </a>
    <a href="/uorrenbaffet"  class="btn btn-success btn-lg">Уоррен Баффет </a> 
    <a href="/vavilon"  class="btn btn-success btn-lg">Самый богатый человек в Вавилоне </a>
    <a href="/father"  class="btn btn-success btn-lg">Богатый папа, Бедный папа </a>
    <a href="/think"  class="btn btn-success btn-lg">Думай медленно... Решай Быстро </a>
    <a href="/master"  class="btn btn-success btn-lg">Мастер времени </a>
    <a href="/money"  class="btn btn-success btn-lg">Мани, или Азбука денег </a>  
</p>
{% endblock %}