{% load static %}

<style type=text/css>
body {margin-left: 10%; margin-right: 10%;}

p {text-align: justify;  text-indent:1.5em;}
p.my {margin-top: .5em; margin-bottom: 0em; line-height: 1.2; text-align: justify;}
p.indl {text-align: left; margin-left: 5%;}
p.indr {text-align: right; margin-right: 5%;}

.center {text-align: center; text-indent: 0;}

div.booktitle {page-break-before: always; padding: 3em;}
div.titlepage {text-align: center; margin: 0 5%; padding: 2em 0; page-break-before: always; page-break-after: always;}
div.titlepage p {text-align: inherit;}
div.somm {page-break-before: always; padding-top: 3em;}
div.chapter {page-break-before: avoid; padding-top: 1em;}
div.chapter h2 {page-break-before: avoid;}
div.chapter h3 {page-break-before: avoid;}

h1,h2,h3 {text-align: center; font-style: normal;
font-weight: normal; line-height: 1.5;}
h1 {font-size: 150%;}
h2 {font-size: 140%; margin-top: 1em; margin-bottom: 2em; page-break-before: avoid;}
h3 {font-size: 120%;}

span.smaller {display: block; font-size: 85%; margin: .5em 5%; line-height: 1.2em;}

hr {width: 70%; margin-top: 1em; margin-bottom: 1em; margin-left: 15%; margin-right: 15%; clear: both;}
hr.silver {width: 90%; margin-left: 5%; margin-right: 5%; border-top: none; border-right: none; border-bottom: thin solid silver; border-left: none;}
@media handheld {
hr.silver {display: none;}
}


a.tag {vertical-align: .3em; font-size: .8em; font-style: normal;  font-weight: normal; text-decoration: none; padding-left: .1em;  line-height: 0em; white-space: nowrap;}
div.footnotes {page-break-before: always; font-size: 90%; padding-top: 3em;}
.footnotes h2 {margin-bottom: 2em; font-size: 115%;}
div.footnote {margin-left: 2.5em; margin-right: 2em;}
div.footnote>:first-child {margin-top: 1em;}
div.footnote .label {display: inline-block; width: 0em; text-indent: -2.5em; text-align: right;}

.pagenum  {position: absolute; right: 2%; font-style: normal; font-weight: normal; text-decoration: none; font-size: 65%; text-align: right; color: #999999; background-color: #ffffff; clear: left;}

.pad4 {margin-top: 4em;}
.pad2 {margin-top: 2em;}
.pad1 {margin-top: 1em;}

.dots {text-align: center; letter-spacing: .5em; margin-top: 1.5em; margin-bottom: 1.5em;}

.small {font-size: 85%;}
.large {font-size: 115%;}
.x-large {font-size: 130%;}
.main-t {font-size: 200%;}
.g {letter-spacing: .2em;}
.smcap {font-variant: small-caps;}
.upright {font-style: normal;}
.over {text-decoration: overline;}


.indice {width: 80%; line-height: 1em; margin-top: 2em;}
.indice td {vertical-align: top; padding-left: 1.5em; text-indent: -1em;}
.indice td.pag {text-align: right; vertical-align: bottom; white-space: nowrap;}

/* .tnote {background-color: #f7f1e3; color: #000; padding: 1em 1em 2em 1em;
  margin: 3em 10%; font-family: sans-serif; font-size: 90%; page-break-before: always;} */
.tntitle {text-align: center; text-indent: 0; padding: 1em; font-size: 120%; margin-bottom: 1em;}
.tnote p {padding: 0 1em;}
.covernote {visibility: hidden; display: none;}

@media handheld {
  .covernote {visibility: visible; display: block;}
}

.poem {text-align: left; margin: 1.5em 10%;}
.stanza {margin: 1em auto;}
.poem p.i01 {margin: 0; padding-left: 3em; text-indent: -3em;}
.poem p.i02 {margin: 0; padding-left: 3em; text-indent: -2em;}
.poem p.i03 {margin: 0; padding-left: 3em; text-indent: -1em;}
.poem p.i07 {margin: 0; padding-left: 3em; text-indent: 3em;}
.poem p.i08 {margin: 0; padding-left: 3em; text-indent: 4em;} 


p.photo{text-align: left; font-size: 8%; width: 7%;}

p.indr2 {text-align: right; margin-left: auto; margin-right: 10%;}

p.enter0 {text-align: justify;  text-indent:1.5em; margin:0%}
p.conclusion {text-align: justify;  text-indent:1.5em; font-size: 120%;}
table {margin: 0%; border-collapse: collapse;}
.quotes { color: #000;font-family: cursive; font-size: 110%; text-align: justify; font-style:italic;padding-left: 40%;  padding-right: 2em; margin-left: 0%;margin: 0%; text-indent:0%; margin-top:1em}
.author { color: #000; font-size: 120%; text-align: right; font-style:italic;   padding-right: 1em; margin-top: 0%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif } 

</style>


<a href="/"><img src="{% static 'mainApp/images/Home.jpg' %}"  title="Home Page" weight="70"; height="50";> </a>       


<body>
      <div class="titlepage">
      <p class="main-t">
        Мастер времени
      </p>
      </div>

      <hr class="silver" />

      <p>
        В этой публикации вынесено “краткое содержание” и главные мысли книги Брайана Трейси “Мастер времени”. Книга рассказывает о важности управления временем и методах его использовании для эффективного достижения целей. Содержит много полезных советов и легко читается. Итак приступим.
      </p>
      <p>
        Вы цените жизнь? Тогда не тратьте попусту время, потому что жизнь состоит именно из него. Приучите себя делать лишь то, что улучшает и обогащает вашу жизнь и работу, придает вам ощущение движения вперед и превращения в ту личность, которой вы мечтаете стать.
      </p>
      <p  class="quotes"> Чтобы побеждать, человеку нужны определенность в целях, точное понимание того, чего он хочет и страстное желание этого добится.<p class="author">Наполеон Хилл</p></p>

      <h2 class="chapter" >Шаги к достижению цели:</h2>
      <h4>1. Точно определите, чего вы хотите.</h4> 
      <p>Большинство людей этого не знают. Будьте как можно более конкретными. Ваши цели должны быть такими ясными, чтобы вы могли объяснить их шестилетнему ребенку.</p>
      <h4>2. Запишите свою цель.</h4>
      <p class="enter0">Только у 3 процентов взрослых людей цели оформлены письменно, и создается впечатление, что все окружающие работают на них. В среднем такие люди зарабатывают в 10 раз больше, чем те, кто не записывает свои цели. Сформулировав цели письменно, сделайте их измеримыми. Снабдите их цифрами, благодаря которым даже шестилетний ребенок сможет оценить, насколько вы к ним близки. </p>
      <p class="enter0">Записывать цели надо особым образом, чтобы они лучше воспринимались вашим подсознанием – центром ментальной силы. Цели должны быть сформулированы от первого лица, в позитивной форме и в настоящем времени. </p>
      <p class="enter0">Если у вас ясные цели и вы можете измерить степень приближения к ним, то ваш путь будет легче и короче. Помните, что нельзя попасть в мишень, если вы ее не видите.</p>
      <h4>3. Установите конечный срок.</h4> 
      <p>Точно определите, когда вы хотите реализовать ту или иную цель. Если она носит долгосрочный характер, разбейте ее по годам, месяцам, неделям или даже дням. Некоторые из наиболее успешных людей, которых я знаю, составляют на основе цели, рассчитанной на 10 лет, пятилетние, годовые, месячные планы и так далее, вплоть до ежедневных. Самодисциплина помогает им каждый день работать над выполнением пунктов этих планов. Если что-то вынуждает вас отойти от намеченного графика работы, установите новый срок. Не бывает нереальных целей. Бывают только нереальные сроки.</p>
      <h4>4. Составьте список всех действий, которые, как вам представляется, необходимо будет совершить для достижения цели.</h4>
      <p>Впоследствии его можно будет дополнить новыми идеями, до которых вы догадаетесь сами или которые кто-то подскажет. Продолжайте работать над списком до тех пор, пока он не станет исчерпывающим и его уже нечем будет дополнить.</p>
      <h4>5. Упорядочьте свой перечень.</h4>
      <p>Укажите, что необходимо сделать в первую очередь, что потом и так далее, вплоть до финального действия, ведущего к воплощению цели в жизнь. Вы можете также распределить пункты перечня по значимости. Что вам представляется в нем самым важным? Что вторым по степени важности? Не забывайте о правиле 80/20, в соответствии с которым 80 процентов успеха зависят от 20 процентов выполняемых вами действий.</p>
      <h4>6. Переходите от слов к конкретным делам.</h4>
      <p>Предпримите хоть что-нибудь. Главное – не останавливаться. Сделайте первый шаг. Он, как правило, достаточно очевиден. Вы всегда представляете себе, с чего надо начинать.</p>
      <h4>7. Каждый день предпринимайте что-то ведущее вас к конечному результату.</h4>
      <p>Пожалуй, это самый важный из всех шагов, поскольку в кратчайший срок способен перевернуть вашу жизнь. Семь дней в неделю, 365 дней в году делайте что-нибудь большое или малое, чтобы хоть на шаг стать ближе к цели.</p>
      <p>Теперь нужно переходить от слов к делу. Сделайте первый шаг. Выйдите из зоны комфорта и отправляйтесь в путешествие к своей цели, которая изменит вашу жизнь к лучшему. Наконец, примите решение каждый день делать что-нибудь что хоть на шаг приближает вас к мечте.</p>
      <p class="quotes">Тот, кто каждое утро планирует ход дня и следует этому плану, держит в руке нить, которая ведет его но лабиринту напряженной жизни.<p class="author">Виктор Гюго</p></p>

      <h2 class="chapter" >Факторы высокой производительности</h2>
      <h4>1. Сосредоточенность.</h4>
      <p class="enter0">То есть способность заниматься только одним, самым важным делом. Формула успеха сводится к тому, чтобы начинать каждый новый день, имея на руках список дел, которые необходимо выполнить. Они должны быть перечислены в порядке убывающей важности. Начинайте работу с самого сложного задания и приучите себя не отрываться от него до полного завершения.Решив поставленную задачу, вы ощущаете выброс в кровь эндорфинов, что доставляет вам радость, повышает самооценку и заставляет гордиться собой.</p>
      <p class="enter0">Помните, что результат – это все. Вы сможете быть счастливым лишь тогда, когда добьетесь результатов, которых от вас ожидали.</p>
      <h4>2. Составьте список</h4>
      <p class="enter0">Как считает эксперт по тайм-менеджменту Алан Лакейн, впервые составив список дел, вы можете в первый же день сэкономить 25 процентов времени. Через три-четыре недели у вас сформируется привычка составлять такие перечни каждый день, для каждого проекта и задачи. Ваша производительность моментально возрастет.</p>
      <p class="enter0">Между головой и рукой существует какая-то магическая взаимосвязь. Записывая что-то на бумаге, вы пробуждаете так называемую психонейромоторную активность. Под этим подразумевается концентрация мозга в течение некоторого периода времени на одном предмете. В процессе письма вы думаете, что-то представляете и одновременно совершаете движения. Невозможно писать об одном, а думать при этом о чем-то другом. Письмо не дает отвлекаться от темы.</p>
      <h4>3. Четко расставьте приоритеты</h4>
      <p class="enter0">Прежде чем браться за работу, распределите все дела из списка по степени важности. Найдите время, чтобы остановиться и подумать о предстоящей работе, осознавая при этом, что всех дел все равно не переделаешь. Как бы ни была высока ваша производительность, задач, ожидающих решения, все равно будет слишком много. Вам придется выбирать, чем заняться в первую очередь, чем – во вторую, а что вообще не делать.</p>
      <p class="enter0">Примените к своему списку правило 80/20. В соответствии с ним, 20 процентов ваших действий приносят 80 процентов всех результатов.</p>
      <p class="enter0">Не забывайте, что значение имеет не время, потраченное на работу, а ценность полученных результатов. Вы должны демонстрировать не усердие, а достижения. Поэтому распределяйте время в зависимости от значимости заданий и первым делом беритесь за самую важную работу.</p>
      <h3>Метод «АБВГД»</h3>
      <p>Примените к своему списку метод «АБВГД». Прежде чем приступать к работе, просмотрите список и снабдите каждый из пунктов одной из пяти указанных букв. При этом необходимо задуматься о вероятных последствиях выполнения или невыполнения соответствующих задач. Некоторые из них настолько важны, что последствия будут очень серьезными. А некоторые не имеют никакого значения, поэтому и последствий никаких не будет. Таким образом, все зависит от последствий.
        Успешные люди, обладающие высокой производительностью, затрачивают основное время на действия, имеющие большие потенциальные последствия.</p>
      
      <h2 class="chapter">Закон трех дел</h2>
      <p>Ключ к повышению производительности заключается в том, чтобы выявить три самых важных дела и впредь посвящать себя исключительно им, игнорируя все остальные. Из закона трех дел вытекают четыре следствия.</p>
      <h2 class="chapter">Четыре следствия</h2>
      <p class="enter0">1. Вы будете меньше работать. У вас никогда не возникнет аврала. Поскольку всех дел все равно не переделаешь, то для восстановления контроля над своей жизнью прекратите заниматься бесчисленным множеством разных мелочей.</p>
      <p class="enter0">2. Вы сможете сделать больше важных вещей. Занимайтесь только тремя делами, которые вы выбрали. Лишь полностью выполнив их, можете посвятить себя чему-то другому.</p>
      <p class="enter0">3. Вы сможете уделять важным делам больше времени (желательно весь день). Чем больше времени вы на них отводите, тем продуктивнее ваша работа в глазах окружающих и тем счастливее вы сами.</p>
      <p class="enter0">4. Вы сможете совершенствоваться в своих главных занятиях. Это самая лучшая инвестиция в себя, на которую вы способны. Самосовершенствование позволяет резко повысить производительность и улучшить результаты, причем за меньшее время.</p>
      <p class="quotes">Мысль представляет собой изначальный источник всех богатств, успехов, материальных благ, великих открытий, изобретений и грандиозных свершений.<p class="author">Клод Бристоль</p></p>
      <p class="enter0">Самые высокооплачиваемые сотрудники постоянно читают, учатся и совершенствуют свои знания. Ваша способность учиться и приобретать новые знания и умения влияет на вашу жизнь сильнее всего. Это значит, что если вы постоянно учитесь и развиваетесь или, наоборот, остановились в своем развитии, то последствия могут оказаться колоссальными.</p>
      <p class="enter0">Именно тем, как вы используете свободное время, и определяется разница между успехом и неудачей. Вы можете посвятить его веселью, а можете вложить в свое будущее. Составьте распорядок дня, предусматривающий учебное время, и заставьте себя строго его соблюдать.</p>
      <p class="enter0">Каждый из тех, кто добился финансового успеха, когда-то был бедняком. Практически все сегодняшние богачи в свое время выбирались из нужды. И поворотным пунктом в их жизни было решение стать лучшим в своей отрасли.</p>
      <p class="enter0">Вкладывая деньги в доходные активы, вы обеспечиваете себя деньгами на перспективу. Именно так закладывается большинство состояний. Если вы инвестируете время и деньги в самих себя, совершенствуясь в своей профессии, то отдача выражается в повышении заработков. Вкладывая в свое развитие и эти дополнительные деньги, вскоре вы станете одним из самых ценных и уважаемых в своей организации.</p>
      <p class="quotes">Всегда подражайте самому лучшему. Таким должен быть ваш высший идеал. Стремясь к совершенству, вы сможете добиться большего.<p class="author">Горацио Дрессер</p></p>
      
      <h2 class="chapter">Азы правильного использования времени</h2>
      <p class="enter0">1. Ставьте ясные цели и четко определяйте перспективы. Вы должны точно знать, для чего работаете и чего хотите достичь.</p>
      <p class="enter0">2. Детально планируйте предстоящую работу в письменном виде. Производительный труд требует подробного плана действий с определением их последовательности.</p>
      <p class="enter0">3. Четко расставьте приоритеты. Вы должны делать основной упор на действия, приносящие максимальную пользу.</p>
      <p class="enter0">4. Посвящайте работе все рабочее время. Научитесь полностью концентрироваться только на одном деле, которое на данный момент является самым важным, и не отвлекайтесь ни на что другое, пока не выполните его. Это требует огромной силы воли и самодисциплины, но карьерный успех с лихвой компенсирует затраченные усилия.</p>
      <p>Не забывайте, что нельзя делать несколько дел одновременно. В каждую конкретную минуту вы должны быть заняты одним самым важным на данный момент делом.</p>
      
      <h2 class="chapter">Семь основных факторов разбазаривания времени</h2>
      <h4>1. Телефон, электронная почта и СМС</h4>
      <p>Первая и главная причина потерь времени – это помехи, создаваемые телефоном, электронной почтой и СМС. Все они пытаются отвлечь вас от того, чем вы заняты в данный момент, заставляют мозг делать паузы в обдумывании важных вещей. Даже после того как вы отвернулись от монитора или повесили трубку, вам трудно вернуться к работе.</p>
      <h4>2. Нежданные посетители</h4>
      <p>Вторая по распространенности причина потерь времени – это посетители, которых вы не ждали (имеются в виду не только личные визиты, но и звонки). Они могут отнять у вас массу времени. Посетителями могут быть как сотрудники вашей же компании, так и люди со стороны. Они являются, когда им заблагорассудится, отрывают вас от работы, нарушают ход ваших мыслей и снижают эффективность вашей деятельности. Иногда посетители готовы до бесконечности болтать о чем угодно, только не о том, над чем вы работаете. Необходимо держаться от таких расхитителей времени как можно дальше.</p>
      <h4>3. Совещания</h4>
      <p class="enter0">Третий расхититель времени – это запланированные и стихийные совещания. Они отнимают от 40 до 50 процентов времени. Такие мероприятия могут носить организованный характер, и в этом случае в них участвует несколько человек, а могут проводиться с глазу на глаз в кабинете или на ходу в коридоре. В принципе, любая беседа с одним или несколькими людьми может считаться совещанием. Из-за некачественного планирования и слабой подготовки многие совещания крадут неоправданно большое количество времени.</p>
      <p class="enter0">Однако нельзя однозначно считать их злом. Совещания – необходимый инструмент бизнеса, служащий для обмена информацией, решения проблем и отслеживания прогресса. Вместе с тем ими необходимо умело руководить.</p>
      <h4>4. Авралы</h4>
      <p>Четвертый фактор потерь времени – это «тушение пожаров» в непредвиденных ситуациях. Стоит вам только углубиться в важную работу, как случается что-то неожиданное и заставляет отвлечься от основного дела на несколько минут, а иногда и часов или даже больше.</p>
      <h4>5. Волокита</h4>
      <p>Пятый крупный расхититель времени – это привычка откладывать все на потом. Она крадет не просто время. Она крадет жизнь. Избавление от нее поможет вам полностью изменить свою жизнь.</p>
      <h4>6. Пустые разговоры</h4>
      <p>Говоря о пустых разговорах, мы имеем в виду не только беседы с глазу на глаз, но и общение в режиме онлайн. Оно отнимает массу времени. По некоторым оценкам, до 75 процентов рабочего дня уходит на разговоры с окружающими. К сожалению, не менее половины этого времени – досужая болтовня, никак не связанная с работой. Подобное общение крадет время, предназначенное для дела.</p>
      <h4>7. Неуверенность</h4>
      <p>Седьмой расхититель времени – неуверенность и связанные с ней задержки в работе. Отсутствие уверенности способно украсть у вас больше времени, чем можно представить. Оно является причиной излишней переписки, всевозможных согласований и ненужных заданий. Неуверенность означает пустую трату времени не только для вас, но и для окружающих.</p>
      
      <h2 class="chapter">Пять стадий творческого мыслительного процесса</h2>
      <p>Пять стадий творчества (вербализация, визуализация, эмоционализация, релаксация и реализация) – это ключ к вашему становлению как одной из самых творческих личностей в мире.</p>
      <h4>Первая стадия – ясная цель.</h4>
      <p>Исходной точкой для раскрытия творческого потенциала в ходе достижения цели является ясность. Необходимо четко выразить суть цели в словесной форме. Это проще всего сделать, записав свою цель в настоящем времени и от первого лица. Если вы написали: «Я претворю этот замысел в жизнь к такому-то дню», то подсознание и сверхсознание воспринимают это как команду и начинают работать над ее выполнением 24 часа в сутки.</p>
      <h4>Вторая стадия пробуждения творчества – визуализация</h4>
      <p>Создайте четкий мысленный образ своей цели, как будто она уже стала реальностью. Ведь между ясностью мысленного образа цели и скоростью ее достижения существует тесная связь.</p>
      <h4>Третья стадия заключается в придании цели эмоциональной окраски.</h4>
      <p>Вы должны «прочувствовать» ее. После вербализации и визуализации цели представьте себе, какие чувства вы будете испытывать после ее реализации. Вызовите в себе чувства радости, удовлетворения, гордости, счастья, облегчения, которые возникнут у вас, когда вы достигнете цели. Все эти три приема – вербализация, визуализация и эмоционализация – активизируют творческие способности и раскрепощают мышление.</p>
      <h4>Четвертая стадия заключается в полной релаксации.</h4>
      <p>Отпустите все мысли о цели. Дайте мозгу отдохнуть и займитесь чем-нибудь другим. Найдите себе занятие, которое заставит забыть обо всем. В это время суперсознание будет безостановочно работать над воплощением цели в жизнь.</p>
      <h4>Пятая стадия – реализация.</h4>
      <p>Она начинается, когда вы чувствуете, что идея или решение, пришедшие вам в голову, – это именно то, что требуется.</p>
      <p class="quotes">Я узнал, что успех измеряется не достигнутым положением, а препятствиями, которые пришлось преодолеть на пути к нему.<p class="author">Букер Вашингтон</p></p>
      <p class="enter0">Если вы не достигли какой-то цели, это означает лишь то, что вам не удалось решить какую-то проблему. Единственное, что стоит между вами и намеченной целью, – это некое препятствие. От умения устранять или преодолевать подобные трудности во многом зависит ваш успех.</p>
      <p class="enter0">Если ваши мысли полностью заняты каким-то предметом, он становится реальностью вашей жизни. Если вы думаете и говорите о проблемах как таковых, они умножаются и усугубляются. Но если вы будете думать об их решении, то обнаружите, что решений появляется все больше. Всегда исходите из того, что любая проблема имеет решение. Его только надо отыскать. Абсолютная уверенность в том, что решение есть и что вы способны его найти, настраивает вас на позитивный лад, укрепляет веру в себя и повышает вероятность того, что вы справитесь с проблемой.</p>
      <p class="enter0">Наиболее уважаемыми и преуспевающими людьми в любой компании являются те, кто решает самые масштабные и сложные проблемы. Ваша способность концентрироваться на одной-единственной проблеме и ее решении имеет большую важность. Если то же самое количество энергии, которое потребляет обычная лампочка, сфокусировать в лазерном луче, он разрежет сталь. Если вы сконцентрируете все свое внимание на решении определенной проблемы или достижении конкретной цели, ваш разум тоже будет подобен лазерному лучу, способному разрушить любое препятствие, стоящее на пути.</p>
      
      <h2 class="chapter">7 приемов демонстрации значимости</h2>
      <h4>1. Проявляйте позитивизм.</h4>
      <p>Всеми силами избегайте критики и обвинений в чей-либо адрес. Критикуя человека, вы снижаете его самооценку, подрываете уверенность и лишаете его уважения к себе. Критика, жалобы и обвинения раздражают и озлобляют людей.</p>
      <h4>2. Соглашайтесь с собеседником.</h4>
      <p>Никогда не спорьте и не говорите человеку, что он не прав. Это раздражает его и заставляет занять оборонительную позицию. Человек замыкается в себе и перестает воспринимать ваши доводы. Указывая ему на ошибку, вы снижаете его самооценку и вынуждаете встретить в штыки все ваши аргументы. Вместо того чтобы спорить, демонстрируйте любознательность. Попросите собеседника помочь вам разобраться в его точке зрения. Практикуйтесь в умении слушать. Улыбайтесь, кивайте, проявляйте внимание.</p>
      <h4>3. Демонстрируйте признание.</h4>
      <p>Одной из самых насущных подсознательных потребностей человека является потребность в признании. Ему хочется, чтобы люди принимали его таким, какой он есть, без осуждения и критики. Многие из личных, политических и социальных проблем в мире вызваны тем, что людям не хватает признания со стороны окружающих.</p>
      <h4>4. Благодарите.</h4>
      <p>Пожалуй, самое магическое действие в любом языке оказывает слово «спасибо». Когда вы благодарите человека за то, что он сказал или сделал, у него сразу же повышается самооценка. Он начинает относиться к себе с большей любовью и уважением. Он чувствует себя счастливее и готов сделать еще что-нибудь, за что его вновь поблагодарят.</p>
      <h4>5. Говорите комплименты.</h4>
      <p>Выражайте свое восхищение человеком при любой возможности. Авраам Линкольн говорил: «Комплименты нравятся всем».</p>
      <h4>6. Выражайте похвалу.</h4>
      <p>Хвалите людей за все, что они делают для вас, даже если это какая-то мелочь. Ведь наша самооценка во многом определяется тем, как часто мы слышим похвалу со стороны окружающих.</p>
      <h4>7. Проявляйте внимание.</h4>
      <p>Если человек хочет что-то вам сказать, внимательно выслушайте его. Демонстрируя свое внимание, вы без слов даете понять, что считаете его ценной и важной личностью. Такова магия умения слушать, которая обсуждалась выше. Обычно мы внимательны к тем людям, которые нам дороги, но игнорируем тех, кто нам не интересен. Такое отношение снижает самооценку людей и заставляет их чувствовать себя никчемными.</p>
      <p class="quotes">Внутри человека скрываются дремлющие силы, которые могут удивить его и о существовании которых он даже не мечтал. Эти силы способны в корне изменить его жизнь, если привести их в действие.<p class="author">Орисон Марден</p></p>
      <p>Отдых и релаксация – одни из самых важных периодов в жизни. Многие великолепные идеи, способные принести успех и даже богатство, посещают вас как раз в те дни, когда вы даете полный отдых своему телу и разуму. Выделяя в своем расписании время на абсолютное расслабление, вы оказываете себе бесценную услугу, которая благотворно скажется на вашей будущей жизни.</p>
      <p class="quotes">Предавайтесь самым смелым мечтам, ведь с вами случится то, о чем вы мечтаете. Ваше видение – предвестник будущих событий. Ваш идеал – пророчество, которое в один прекрасный день сбудется.<p class="author">Джеймс Аллан</p></p>
      
      <p class="enter0">Чем больше времени вы проводите в размышлениях и осмыслении своего опыта, тем глубже ваши знания и тем выше интеллект. Как следствие, вы принимаете более качественные решения и допускаете меньше ошибок. Вы должны регулярно задумываться о том, что и как вы делаете.</p>
      <p class="enter0">Самое ценное и важное, что у вас есть, – это способность мыслить. Качество мышления, в частности осмысления времени, определяет качество бытия. Периодически останавливайтесь и задавайте себе вопрос: «Как наилучшим образом использовать время в данной ситуации?»</p>
      <p class="enter0">Если вы не будете торопиться и приучите себя думать, прежде чем реагировать, то всегда будете принимать правильные решения и добиваться нужных результатов.</p>

      <h1 class="chapter">Выводы</h1>
      <p class="conclusion">1. Точно определите, чего вы хотите. Ставьте ясные цели и четко определяйте перспективы. Вы должны точно знать, для чего работаете и чего хотите достичь.</p>
      <p class="conclusion">2. Запишите свою цель. Сформулировав цели письменно, сделайте их измеримыми. Если у вас ясные цели и вы можете измерить степень приближения к ним, то ваш путь будет легче и короче. Помните, что нельзя попасть в мишень, если вы ее не видите.</p>
      <p class="conclusion">3. Установите конечный срок. Точно определите, когда вы хотите реализовать ту или иную цель. Если она носит долгосрочный характер, разбейте ее по годам, месяцам, неделям или даже дням. Если что-то вынуждает вас отойти от намеченного графика работы, установите новый срок. Не бывает нереальных целей. Бывают только нереальные сроки.</p>
      <p class="conclusion">4. Переходите от слов к конкретным делам. Предпримите хоть что-нибудь. Главное – не останавливаться. Семь дней в неделю, 365 дней в году делайте что-нибудь большое или малое, чтобы хоть на шаг стать ближе к цели.</p>
      <p class="conclusion">5. Сконцентрируйтесь на одном деле. Научитесь полностью концентрироваться только на одном деле, которое на данный момент является самым важным, и не отвлекайтесь ни на что другое, пока не выполните его. Это требует огромной силы воли и самодисциплины, но карьерный успех с лихвой компенсирует затраченные усилия. Не забывайте, что нельзя делать несколько дел одновременно. В каждую конкретную минуту вы должны быть заняты одним самым важным на данный момент делом. Помните, что результат – это все. Вы сможете быть счастливым лишь тогда, когда добьетесь результатов, которых от вас ожидали.</p>
      <p class="conclusion">6. Четко расставьте приоритеты. Прежде чем браться за работу, распределите все дела из списка по степени важности. Примените к своему списку правило 80/20. Не забывайте, что значение имеет не время, потраченное на работу, а ценность полученных результатов. Вы должны демонстрировать не усердие, а достижения. Поэтому распределяйте время в зависимости от значимости заданий и первым делом беритесь за самую важную работу.</p>
      <p class="conclusion">7. Научитесь Решать проблемы. Единственное, что стоит между вами и намеченной целью, – это некое препятствие. От умения устранять или преодолевать подобные трудности во многом зависит ваш успех. Всегда исходите из того, что любая проблема имеет решение. Если вы сконцентрируете все свое внимание на решении определенной проблемы или достижении конкретной цели, ваш разум тоже будет подобен лазерному лучу, способному разрушить любое препятствие, стоящее на пути.</p>
      <p class="conclusion">8. Отдыхайте. Многие великолепные идеи, способные принести успех и даже богатство, посещают вас как раз в те дни, когда вы даете полный отдых своему телу и разуму. Выделяя в своем расписании время на абсолютное расслабление, вы оказываете себе бесценную услугу, которая благотворно скажется на вашей будущей жизни.</p>
      <p class="conclusion">9. Мыслите. Самое ценное и важное, что у вас есть, – это способность мыслить. Вы должны регулярно задумываться о том, что и как вы делаете. Качество мышления, в частности осмысления времени, определяет качество бытия. Если вы не будете торопиться и приучите себя думать, прежде чем реагировать, то всегда будете принимать правильные решения и добиваться нужных результатов.</p>

</body>