{% load static %}

<style type=text/css>
body {margin-left: 10%; margin-right: 10%;}



p {text-align: justify;  text-indent:1.5em;}
p.my {margin-top: .5em; margin-bottom: 0em; line-height: 1.2; text-align: justify;}
.center {text-align: center; text-indent: 0;}

div.booktitle {page-break-before: always; padding: 3em;}
div.titlepage {text-align: center; margin: 0 5%; padding: 2em 0; page-break-before: always; page-break-after: always;}
div.titlepage p {text-align: inherit;}
.dots {text-align: center; letter-spacing: .5em; margin-top: 1.5em; margin-bottom: 1.5em;}
.small {font-size: 85%;}
.large {font-size: 115%;}
.x-large {font-size: 130%;}
.main-t {font-size: 200%;}

h1,h2,h3 {text-align: center; font-style: normal;
font-weight: normal; line-height: 1.5;}
h1 {font-size: 150%;}
h2 {font-size: 140%; margin-top: 1em; margin-bottom: 2em; page-break-before: avoid;}
h3 {font-size: 120%;}

.large {font-size: 115%;}
.x-large {font-size: 130%;}
hr {width: 70%; margin-top: 1em; margin-bottom: 1em; margin-left: 15%; margin-right: 15%; clear: both;}
hr.silver {width: 90%; margin-left: 5%; margin-right: 5%; border-top: none; border-right: none; border-bottom: thin solid silver; border-left: none;}
@media handheld {
hr.silver {display: none;}
}

</style>


<a href="/"><img src="{% static 'mainApp/images/Home.jpg' %}"  title="Home Page" weight="70"; height="50";> </a>       


<body>
      <div class="titlepage">
      <p class="main-t">
        Самый богатый человек в Вавилоне
      </p>
      </div>

      <hr class="silver" />

      <p>
        В этой публикации вынесено краткое содержание и главные мысли книги Клейсона Джорджа “Самый богатый человек 
        в Вавилоне”. В книге описаны секреты накопления богатства, рассказанные через увлекательные истории. Простые
        советы, применив которые ты изменишь уровень своей жизни. Пробуй и внедряй.
      </p>
      <p>
        Цель книги: предложить тем, кто стремится к успеху, проникнуть в тайну денег, с тем чтобы накопить капитал, 
        сохранить его и заставить работать на прибыль.
      </p>
      <p>
        Что такое деньги? Деньги — мерило общественного успеха. Деньги дают возможность вкусить высшие радости, которые 
        дает жизнь. Деньги любят тех, кто понимает простые законы, их накопления. Каждый из нас думал: “Мне нужен надежный 
        источник дохода, который постоянно пополнял бы мой кошелек, независимо от того, сижу ли я, как сейчас или же отдыхаю 
        в дальних странах”.
      </p>
      <div class="chapter"> 
        <h2 >Как достичь богатства</h2>
      </div>
      <h4>1. Откладывайте часть своего заработка.  </h4> 
      <p>Часть того, что ты зарабатываешь, принадлежит тебе. И эта доля должна быть не ниже десятой части твоего 
        заработка, каким бы ничтожным он ни был. В первую очередь заплати самому себе. Не плати портному и обувщику 
        больше, чем ты можешь выкроить из остатка, так чтобы при этом хватало и на еду, благотворительность, епитимью 
        богам.
        Богатство, как и дерево, вырастает из крохотного семени. Первый медяк, что ты отложишь, и будет тем семенем, 
        из которого произрастает дерево твоего богатства. Чем скорее ты посадишь семя, тем скорее вырастет дерево. 
        И чем лучше ты будешь ухаживать за деревом, удобряя его и поливая постоянными сбережениями, тем быстрее сможешь 
        насладиться приятным шуршанием его кроны.</p>
      <h4>2. Работайте только с теми кто сведущ в необходимой тебе сфере.</h4>
      <p>Совет — это единственное, что дается бесплатно, но помни, что принимать нужно только те советы, которые 
          заслуживают внимания. Тот, кто советуется насчет своих сбережений с человеком несведущим, обречен 
          расплачиваться этими же сбережениями за собственную глупость</p>
      <h4>3. Заставьте деньги работать на себя.</h4>
      <p>Услыхав ответ Аркада, Алгамиш молвил - «Ты же пожираешь деток, рожденных твоими же накоплениями. Как же они 
          смогут работать на тебя? И как могут породить себе подобных? Сначала обзаведись армией золотых рабов, и только 
          потом сможешь без сожаления закатывать себе роскошные банкеты».
        Заставьте свое сокровище работать на вас. Превратите его в своего раба. Пусть оно плодит детей, которые тоже станут 
        работать на вас. Обеспечьте себе доход на будущее. Все твои накопления должны постоянно работать, только тогда 
        ты сможешь преумножить свое богатство.
      </p>
      <p>
        Но не забывайте наслаждаться жизнью, пока живы. Не перенапрягайтесь и не пытайтесь сэкономить больше разумного. 
        Если, откладывая десятую часть заработка, вы продолжаете жить комфортно, остановитесь на этой доле. Живите по 
        доходам, но и не бойтесь тратить деньги. Жизнь богата, и не стоит отказываться от ее удовольствий.
        Сегодня деньги подчиняются тем же законам, что правили миром капитала еще в Древнем Вавилоне шесть тысяч лет 
        тому назад.
      </p>        
      
      <div class="chapter"> 
        <h2 >7 Правил богатства</h2>
      </div>

      <h4>1. Начните пополнять кошелек</h4>
      <p>Из десяти монет, что вы положите в свои кошельки, доставайте только девять, которые будете тратить на свои 
          нужды. Тощий кошелек сразу же начнет пухнуть, и вы вскоре ощутите приятную тяжесть в своих руках, что принесет 
          вам невероятное удовлетворение. «Из каждых десяти монет, положенных в кошелек, тратить только девять».
      </p>
      <h4>2. Контролирую свои расходы</h4>  
      <p>“Планируй свой бюджет так, чтобы денег хватало на необходимые нужды, удовольствия и достойные желания, но при 
          этом расходы не превышали девяти десятых дохода”.</p>
      <h4>3. Преумножай богатство</h4>
      <p>Богатство человека не измеряется количеством монет в его кошельке. Богатство определяется доходом, который оно 
          приносит. А доход — словно золотой поток, непрерывно вливающийся в ваш кошелек и заставляющий его пухнуть. 
          Именно к этому и стремится каждый человек. — Доходы должны расти, независимо от того, работаете вы или 
          путешествуете. “Каждая монета должна работать и приносить постоянный доход, который неиссякаемым ручейком 
          вливался бы в ваш кошелек”.
        </p>
      <h4>4. Береги свое богатство от потерь</h4>
      <p>Охраняйте накопленное, инвестируя только в проекты, гарантирующие полную безопасность вклада, его возвратность в любой момент, а также солидные проценты. Консультируйтесь с компетентными людьми. Следуйте советам тех, кто преуспел в выгодных капиталовложениях. Их мудрость убережет ваше золото от рискованных инвестиций.</p>
      <h4>5. Превратите свое жилище в прибыльное предприятие</h4>
      <p>Стань собственником своего дома. Если дом взят в кредит,ты должен выплатить его.</p>
      <h4>6. Обеспечь доход на будущее</h4>
      <p>“Заранее обеспечь себе достойную старость и позаботься о безбедном существовании своей семьи”.</p>
      <h4>7. Совершенствуй умение зарабатывать</h4>
      <p>“Совершенствовать свои способности и навыки, учиться и становиться мудрее, жить так, чтобы самому уважать себя”.</p>

      <div class="chapter"> 
        <h2 >Заповеди уважающего себя мужчины</h2>
      </div>

      <p>1. Возвращать долги точно в срок, не влезать в долги, если их нечем отдавать.</p>
      <p>2. Заботиться о своей семье так, чтобы семья им гордилась</p>
      <p>3. Составить завещание так, чтобы в случае его смерти собственность была поделена справедливо и достойно.</p>
      <p>4. Иметь сострадание к ущербным, несчастным, помогать им в разумных пределах.</p>
      <p>5. Быть внимательным к нуждам дорогих ему людей.</p>
      <p>Чтобы госпожа удача улыбалась тебе не медли если жизнь даёт тебе шанс пользуйся им. Как правило, первоначальное решение оказывается единственно верным. И все равно, бывает трудно рискнуть. Пытаясь защититься от собственной слабости, откладываем решение на потом. Однако это не спасает от дальнейших разочарований в том, что упустили счастливую возможность.
        Её величество удача благоволит к людям дела. Принимай решение и действуй немедленно.</p>


      <div class="chapter"> 
        <h2 >ПЯТЬ ЗАКОНОВ БОГАТСТВА</h2>
      </div>

      <p>Прислушайтесь к вою диких собак в ночи. Они воют и скулят от голода. Представьте, что вы их накормили и что за этим последует: они начнут драться или бесцельно слоняться по улицам, совершенно не задумываясь о том, что наступит завтра и опять будет нечего есть. Так же и с людьми. Дайте им выбрать между золотом и мудростью — и что они предпочтут? Проигнорировав мудрость, они с удовольствием потратят золото. А на следующий день будут выть от отчаяния, потому что золота больше не будет. Золото предназначено для тех, кто знает его законы и следует им.</p>
      <p>1. “Золото тянется к тому, кто откладывает десятую часть своего заработка, обеспечивая будущее себе и своей семье”.</p>
      <a>Любой, кто станет постоянно откладывать одну десятую часть заработанного и мудро вкладывать накопленное, постепенно превратит свои сбережения в большое состояние, которое обеспечит доходы на будущее и явится гарантией безбедного существования семьи, когда хозяину предстоит отправиться на небеса. Этот закон утверждает, что золото тянется именно к такому человеку. Я могу подтвердить его опытом своей жизни. Чем больше золота я накапливаю, тем более охотно оно работает на меня и множится. Золото, которое я откладываю, зарабатывает все больше и больше, — и в этом смысл первого закона.</a>
      <p>2. “Золото работает в полную силу на мудрого хозяина, который выгодно вкладывает его в дело”.</p>
      <a>В самом деле, золото — ценный работник. При первой же возможности оно стремится увеличиться в размерах. Каждому, кто научился откладывать золото, дается шанс выгодно вложить его в дело. С годами доходы неизмеримо возрастают.</a>
      <p>3. Золото нуждается в защите, а потому предпочитает осторожность и советы мудрых людей.</p>
      <a>Золото тянется к осторожному хозяину, точно так же как ускользает от беспечного владельца. Человек, который ищет мудрых советов по части вложения капитала, очень скоро может не только увеличить свое состояние до гигантских размеров, но и сохранить его в целости.</a>
      <p>4. Золото не любит, когда его заставляют работать в той области, где человек не сведущ.</p>
      <a>Человеку, имеющему золото, но не обладающему знаниями о том, как им управлять, сложно определить, какие сферы вложений наиболее выгодны. Поэтому он начинает суетиться и может ошибиться в выборе, а это чревато потерей капитала. Неопытный вкладчик, доверяющий только собственным суждениям, рискует поместить капитал в те предприятия, о работе которых он не имеет ни малейшего представления, а за допущенные ошибки расплачивается своими сокровищами. Мудр тот, кто следует советам людей, знающих, как управлять золотом.</a>
      <p>5. Золото ускользает от тех, кто вкладывает его в авантюрные или непродуманные проекты, воплощая романтические грезы о богатстве.</p>
      <a>Заманчивые перспективы сулит обладание золотом его новоиспеченному владельцу. Авантюрные идеи кажутся весьма соблазнительными, поскольку обещают немедленные и огромные прибыли. И вот тут-то стоит прислушаться к советам мудрых людей, которые знают, какие опасности скрываются за подобными планами.
        Не забывайте о мошенниках которые с удовольствием обманывают доверчивых граждан, втягивая их в сомнительные аферы.</a>
      <p>Ваши желания и устремления обладают магической силой. Сочетайте эту энергию со знанием пяти законов богатства — и сокровища Вавилона станут вашими.</p>
      
      <div class="chapter"> 
        <h2 >Мудрые советы</h2>
      </div>

      <p>1. Если хочешь помочь другу, сделай это так, чтобы не взваливать на себя его ношу.</p>
      <p>2. То, что заработано тобой и дано тебе в награду за твой труд, принадлежит только тебе, и никто не вправе требовать тебя поделиться, если только ты сам этого не захочешь.</p>
      <p>3. Золото, с умом вложенное в дело, может вдвое увеличить состояние человека еще в зрелости. Если же ты вкладываешь его с большим риском, под угрозой становятся и твои будущие доходы. МАЛЕНЬКАЯ ОСТОРОЖНОСТЬ ЛУЧШЕ БОЛЬШОГО РАЗОЧАРОВАНИЯ.</p>
      <p>4. С трудом поднялся я с земли. Что значил голод? Что значила жажда? Всего лишь мелкие неприятности на пути. Во мне проснулась душа свободного человека, полного решимости вернуться и сразиться со своими врагами. Я весь дрожал от радостного возбуждения. ЕСЛИ ЕСТЬ РЕШИМОСТЬ, ВСЕГДА ДОСТИГНЕШЬ ЦЕЛИ</p>
      <p>5. Сделай работу своим лучшим другом и она поможет пережить самые сложные моменты жизни и сведет тебя с правильными людьми.</p>

      <div class="chapter"> 
        <h1>Выводы</h1>
      </div>

      <p>Сегодня деньги подчиняются тем же законам, что правили миром капитала еще в Древнем Вавилоне шесть тысяч лет тому назад. По этому применив их вы сможете разбогатеть.</p>
      <p>1. Начните пополнять кошелек. «Из каждых десяти монет, положенных в кошелек, тратить только девять»</p>
      <p>2. Контролирую свои расходы. “Планируй свой бюджет так, чтобы денег хватало на необходимые нужды, удовольствия и достойные желания, но при этом расходы не превышали девяти десятых дохода”.</p>
      <p>3. Преумножай богатство. “Каждая монета должна работать и приносить постоянный доход, который неиссякаемым ручейком вливался бы в ваш кошелек”.</p>
      <p>4. Золото нуждается в защите, а потому предпочитает осторожность и советы мудрых людей.</p>
      <p>5. Золото ускользает от тех, кто вкладывает его в авантюрные или непродуманные проекты, воплощая романтические грезы о богатстве.</p>
      <p>6. Принимай решение и действуй немедленно. “Её величество удача благоволит к людям дела”.</p>
      <p>7. Совершенствуй умение зарабатывать. “Совершенствовать свои способности и навыки, учиться и становиться мудрее, жить так, чтобы самому уважать себя”.</p>
      <h3>Ваши желания и устремления обладают магической силой. Сочетайте эту энергию с законами богатства — и сокровища Вавилона станут вашими.</h3>

</body>